# An example offlineimaprc which syncs two accounts. one synced to
# ~/Mail/GMail and the other synced to ~/Mail/GMX
[general]
ui = ttyui
accounts = GMail,GMX

[Account GMail]
localrepository = Gmail-Local
remoterepository = Gmail-Remote
maxsyncaccounts = 3
maxconnections = 3

[Account GMX]
localrepository = GMX-Local
remoterepository = GMX-Remote
maxsyncaccounts = 3
maxconnections = 3

[Repository Gmail-Local]
type = Maildir
localfolders = ~/Mail/GMail

[Repository GMX-Local]
type = Maildir
localfolders = ~/Mail/GMX

[Repository Gmail-Remote]
type = Gmail
remoteuser = <you@gmail.com>
remotepass = <password>
realdelete = no

# "[Gmail]/All Mail" --> all_mail
nametrans = lambda folder: re.sub('^inbox$', 'INBOX', re.sub(' +', '_', re.sub(r'.*/(.*)$', r'\1', folder).lower()))

[Repository GMX-Remote]
type = IMAP
remotehost = imap.gmx.com
remoteport = 143
remoteuser = <you@gmx.com>
remotepass = <password>

# Archive --> archive
nametrans = lambda folder: re.sub('^inbox$', 'INBOX', folder.lower())

# vim: ft=cfg
