# An example offlineimaprc which syncs two accounts. one synced to
# ~/Mail/GMail and the other synced to ~/Mail/Ideeli
[general]
ui = ttyui
accounts = GMail,Ideeli

[Account GMail]
localrepository = Gmail-Local
remoterepository = Gmail-Remote
maxsyncaccounts = 3
maxconnections = 3

[Account Ideeli]
localrepository = Ideeli-Local
remoterepository = Ideeli-Remote
maxsyncaccounts = 3
maxconnections = 3

[Repository Gmail-Local]
type = Maildir
localfolders = ~/Mail/GMail

[Repository Ideeli-Local]
type = Maildir
localfolders = ~/Mail/Ideeli

[Repository Gmail-Remote]
type = Gmail
remoteuser = <you@gmail.com>
remotepass = <password>
realdelete = no

# "[Gmail]/All Mail" --> all_mail
nametrans = lambda folder: re.sub('^inbox$', 'INBOX', re.sub(' +', '_', re.sub(r'.*/(.*)$', r'\1', folder).lower()))

[Repository Ideeli-Remote]
type = Gmail
remoteuser = <you@ideeli.com>
remotepass = <password>
realdelete = no

# "[Gmail]/All Mail" --> all_mail
nametrans = lambda folder: re.sub('^inbox$', 'INBOX', re.sub(' +', '_', re.sub(r'.*/(.*)$', r'\1', folder).lower()))

# vim: ft=cfg
